body {
	margin: 0;
}

.text {
  font-size: 2rem;
  line-height: 1.5;
  color: #FF0000cc;
}

.paper {
	padding: 10px;
}

.clearfix:after {
  content: "";
  display: table; 
  clear: both; 
}

a {
	text-decoration: none;
	color: #3F1197;
	font-weight: 600;
}